node_modules
dist
build
.next
.turbo
*.tsbuildinfo

# daemon (Go) build artifacts
/daemon/meowthd

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
